/* styles.css for choices game v1.0 */

.body {
  background-color: rgb(186, 207, 225);
}

.headerFQ,
.question  {
  Background-color: #d8e6f3;
  font-size: 45px;
  font-weight:lighter;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;;
  margin-left: 400px;
  margin-right: 400px;
  border-radius: 50px;
  border-width: 5px;
  border-style:dotted;
  border-color: #aec2db;
}
.content {
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-top: 100px;
  padding-bottom: 100px;
  /* padding-left: 150px;
  padding-right: 150px; */
  margin-left: 280px;
  margin-right: 280px;
  font-size: 20px;
  Background-color: #d8e6f3;
  
  border-style:double;
  border-width: 8px;
  border-color: #aec2db;
  border-radius: 120px;
}

.startbutton,
.tut1,
.tut2,
.tut3,
.gr,
.or,
.rr {
  color: rgb(218, 223, 227);
  border-style: inset;
  border-width: 8px;
  margin: 3px;
  font-size: 25px;
  font-weight: bold;
  padding: 3px;
  border-radius: 200px;
  background-color: #d3d3d3;

}

.questionallign {
  text-align: center;
}

.startbutton {
  background-color: lightblue;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(253, 252, 252);
  border-width: 5px;
  border-color:#bcd4e7;
}

.question {
  padding: 20px;
}


/* Media Queries for responsive design */

/* Un-comment the body background-colors to see bold debug color change between screen sizes */
/* Extra large */
@media screen and (max-width: 1200px) {
  /* body {
    background-color: rgb(0, 255, 162);
  } */

  .flex-item{
      flex-basis: 33.33%; /*width of the box, take up a quarter of the parent's size*/
  }
}

/* Large */
@media screen and (max-width: 992px) {
  /* body {
    background-color: rgb(255, 81, 0);
  } */

  .documentation-header section,
  main.documentation-page section{
      margin: 40px 5%;
  }

}

/* Medium */
@media screen and (max-width: 768px) {
  /* body {
    background-color: rgb(255, 0, 191);
  } */

  .flex-item{
      flex-basis: 50%; /*width of the box, take up a quarter of the parent's size*/
  }
}

/* Small */
@media screen and (max-width: 576px) {
  /* body {
    background-color: blue;
  } */

  .flex-item{
      flex-basis: 100%; /*width of the box, take up a quarter of the parent's size*/
  }
}